* {
    box-sizing: border-box;
}

/* ---- Header ---- */

header {
	background-color: #ddd;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
	border-bottom: 2px #888 solid;
	margin-bottom: 0.8em;
}

#scoreboard {
	display: flex;
	justify-content: center;
}

.playerscore {
    border: 1px solid black;
	width: 15em;
	height: 2.5em;
	text-align: center;
	margin: 0 2em;
}

.playerscore p {
	margin: 0;
}

/* ---- Board ---- */

#board {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5em;
	background-color: #d8b685;
}

#board > div {
	display:flex;
}

.boardCell {
	--size: 1.4em;
	width: var(--size);
	height: var(--size);
	margin: 0.05em;
	border: 1px #888 solid;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	font-family: sans-serif;
	padding: 0.1em;
	box-shadow:inset 0px 0px 0px 1px #444;
}

#board .greenCellColor {
	background-color: #00bb00;
}

#board .redCellColor {
	background-color: #bb0000;
}

#board .lightBlueCellColor {
	background-color: #309ff7;
}

#board .blueCellColor {
	background-color: #000088;
}

#board .pinkCellColor {
	background-color: #f27ef7;
}

#board .centerCellColor {
	background-color: #dd7733;
}

.letter {
    background-color: orange;
	border: 1px black solid;
	max-height: 100%;
}

/* ---- Hand ---- */

.hand-container {
	background-color: lightblue;
	margin-top: 0.8em;
	border-top: 2px #888 solid;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 5px 0%;
}

.hand-content {
	height: 100%;
	background-color: #598dd4;
	display: flex;
}

.hand-content .boardCell {
	border: 1px black solid;
}

.hoverable-letter {
	cursor: pointer;
}

#endturnbtn {
	cursor: pointer;
	height: 2em;
	box-shadow:inset 0px 0px 0px 2px #050;
	background-color: green;
    border: 2px solid #00d300;
    font-weight: 800;
}

#endturnbtn[disabled] {
	background-color: red;
	border: 2px solid #d30000;
	box-shadow:inset 0px 0px 0px 2px #500;
	cursor: initial;
}

.playername {
	font-weight: 700;
	font-size: 2em;
}